{
   "876553336" : {
      "bridgeId" : "876553336",
      "discovery" : "enabled",
      "ip" : "192.168.3.66",
      "port" : 8081,
      "token" : ""
   },
   "945738902" : {
      "bridgeId" : "945738902",
      "discovery" : "enabled",
      "ip" : "192.168.3.65",
      "port" : 8080,
      "token" : ""
   }
}
