<!-- SecurePIN --> 
<div id="securepin_block" style="margin: 0 auto; width:350px; display:none">
	<TMPL_VAR SECUREPIN.ENTER_SECUREPIN>
	<input name="securepin" id="securepin" type="text" onkeypress="return AddKeyPress(event, $('#check_securepin'));">
	<button class="ui-btn ui-btn-icon-right ui-corner-all" id="check_securepin" data-inline="true"><TMPL_VAR COMMON.BUTTON_OK></button>
	
	<div class="hint" id="check_hint" style="padding: 5px 5px 5px 5px;"></div>
	<br>
	<div class="path" style="background: #FF8080; font-color: black; text-shadow: none; border: black 1px solid; padding: 5px;">
		<p style="font-weight: bold;">
			<TMPL_VAR SECUREPIN.WARNING_TITLE>
		</p>
		<hr>
		<p>
			<TMPL_VAR SECUREPIN.PREVENT_SPY>
		</p>
	</div>
</div>

<!-- ****************************************************************************************** -->

<style>
	.listtable td
	{
		vertical-align	:middle;
		text-align		:center;
	}
	.listtable td img
	{
		padding			:5px;
	}
	.lb_flex-item 
	{	
		min-width	:450px;
		width		:450px;
		max-width	:450px;
		flex-wrap	:nowrap;
		margin-top: -10px;  
	}
	.lb_flex-item-help 
	{
		min-width	:100px;
		width		:100%;
		position	:relative;
		margin-left	:10px;
	}
	.mqtttable {
		vertical-align: middle;
		text-align: left;
		/* font-size: 90%; */
		border-collapse: collapse;
		border: 1px solid grey;
		padding: 10px;
		width: 100%;
		
	}
	.mqtttable_vicol, .mqtttable_desccol {
		border: 1px solid grey;
		padding: 10px;
	}
	.mqtttable_headrow {
	
	}

</style>

<!-- ****************************************************************************************** -->
		
<TMPL_IF FORM_BRIDGES>

	<div id="main" style="visibility:hidden;"> <!-- style="display:none;" --> 
		
		<!-- Button area -->
		<div style="text-align:center;">
				<a 	href="#" 
					id="btnsearchbridges" 
					name="btnsearchbridges" 
					data-role="button" 
					data-inline="true" 
					data-mini="true" 
					data-icon="search"><TMPL_VAR BRIDGES.BUTTON_SEARCH></a>
				<a href="#popupAdd" 
					id="popupAddButton" 
					data-rel="popup" 
					data-position-to="window" 
					data-transition="pop" 
					data-mini="true"
					data-role="button"
					data-icon="plus" 
					data-inline="true"><TMPL_VAR BRIDGES.BUTTON_ADD></a>
				<div class="hint" id="search_hint">&nbsp;</div>
		</div>

		<div style="padding: 0px 0px 50px 0px;"></div>

		<!-- Table -->
		<div id="data-list"></div>
		
		<!-- Popup: Delete Bridge -->
		<div data-role="popup" id="popupDelete" data-dismissible="true" style="max-width:400px;">
			<div style="padding: 20px 20px;">
				<h4 class="ui-title"><TMPL_VAR BRIDGES.HINT_DELETE_BRIDGE> <span id="popupbridgeid"></span>?</h4>
				<a href="#" id="btndeletebridge" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check"
				data-transition="flow"><TMPL_VAR BRIDGES.BUTTON_DELETE></a>
			</div>
		</div>

		<!-- Popup: Add manually Bridge -->
		<div data-role="popup" id="popupAdd" data-dismissible="true" style="max-width:600px;" data-theme="a" class="ui-corner-all">
			<div style="padding: 20px 20px;">
				<h3 class="ui-title"><TMPL_VAR BRIDGES.HINT_ADD_NEW_BRIDGE></h3>
				<form>
					<!--
					<label for="addbridgeid"><TMPL_VAR BRIDGES.LABEL_BRIDGEID></label>
					<input type="text" name="addbridgeid" id="addbridgeid" value="" placeholder="<TMPL_VAR BRIDGES.LABEL_BRIDGEID>" data-theme="a">
					-->
					<label for="addbridgeip"><TMPL_VAR BRIDGES.LABEL_IPADDRESS></label>
					<input type="text" name="addbridgeip" id="addbridgeip" value="" placeholder="<TMPL_VAR BRIDGES.LABEL_IPADDRESS>" data-theme="a" data-validation-error-msg="<TMPL_VAR BRIDGES.VALERR_INVALID_IP>" data-validation-rule="special:hostname_or_ipaddr">
					<label for="addbridgeport"><TMPL_VAR BRIDGES.LABEL_PORT></label>
					<input type="text" name="addbridgeport" id="addbridgeport" value="" placeholder="<TMPL_VAR BRIDGES.LABEL_PORT>" data-theme="a" data-validation-error-msg="<TMPL_VAR BRIDGES.VALERR_INVALID_PORT>" data-validation-rule="special:port">
					<label for="addbridgetoken"><TMPL_VAR BRIDGES.LABEL_TOKEN></label>
					<input type="text" name="addbridgetoken" id="addbridgetoken" value="" placeholder="<TMPL_VAR BRIDGES.LABEL_TOKEN>" data-theme="a" data-validation-error-msg="<TMPL_VAR BRIDGES.VALERR_INVALID_TOKEN>" data-validation-rule="special:alphanumeric">
					<a href="javascript:addBridge();" id="btnaddbridge" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check"
					data-transition="flow"><TMPL_VAR BRIDGES.BUTTON_SAVE></a>
					<div class="hint" id="add_hint">&nbsp;</div>
    			</form>
			</div>
		</div>

		<!-- Popup: Edit Bridge -->
		<div data-role="popup" id="popupEdit" data-dismissible="true" style="max-width:600px;" data-theme="a" class="ui-corner-all">
			<div style="padding: 20px 20px;">
				<h3 class="ui-title"><TMPL_VAR BRIDGES.HINT_EDIT_BRIDGE> <span id="popupbridgeidedit"></span></h3>
				<form>
					<label for="editbridgeip"><TMPL_VAR BRIDGES.LABEL_IPADDRESS></label>
					<input type="text" name="editbridgeip" id="editbridgeip" value="" placeholder="<TMPL_VAR BRIDGES.LABEL_IPADDRESS>" data-theme="a" data-validation-error-msg="<TMPL_VAR BRIDGES.VALERR_INVALID_IP>" data-validation-rule="special:hostname_or_ipaddr">
					<label for="editbridgeport"><TMPL_VAR BRIDGES.LABEL_PORT></label>
					<input type="text" name="editbridgeport" id="editbridgeport" value="" placeholder="<TMPL_VAR BRIDGES.LABEL_PORT>" data-theme="a" data-validation-error-msg="<TMPL_VAR BRIDGES.VALERR_INVALID_PORT>" data-validation-rule="special:port">
					<label for="editbridgetoken"><TMPL_VAR BRIDGES.LABEL_TOKEN></label>
					<input type="text" name="editbridgetoken" id="editbridgetoken" value="" placeholder="<TMPL_VAR BRIDGES.LABEL_TOKEN>" data-theme="a" data-validation-error-msg="<TMPL_VAR BRIDGES.VALERR_INVALID_TOKEN>" data-validation-rule="special:alphanumeric">
					<a href="#" id="btneditbridge" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check"
					data-transition="flow"><TMPL_VAR BRIDGES.BUTTON_SAVE></a>
					<div class="hint" id="edit_hint">&nbsp;</div>
    			</form>
			</div>
		</div>

		<!-- Popup: Activate Bridge -->
		<div data-role="popup" id="popupActivate" data-dismissible="true" style="max-width:400px;" data-theme="a" class="ui-corner-all">
			<div style="padding: 20px 20px; text-align: center;">
				<h3 class="ui-title"><TMPL_VAR BRIDGES.HINT_ACTIVATE_BRIDGE> <span id="popupbridgeidactivate"></span></h3>
				<img src="./images/nuki-bridge-button.svg" height="150"></img>
				<p><TMPL_VAR BRIDGES.HINT_ACTIVATE_BRIDGE_INSTRUCTIONS></p>
				<div style="text-align: center; width:100%">
					<div class="hint" id="activate_hint">&nbsp;</div>
				</div>
			</div>
		</div>
		
		<!-- Popup: Bridge Details -->
		<div data-role="popup" id="popupDetails" data-dismissible="true" style="min-width:600px;max-width:800px;min-height:600px;" data-theme="a" class="ui-corner-all">
			<div style="padding: 20px 20px;">
				<h3 class="ui-title" style="text-align: center;"><TMPL_VAR BRIDGES.HINT_BRIDGE_DETAILS> <span id="popupbridgeiddetailsheader"></span></h3>
				<div id="popupbridgeiddetailscontent"></div>
				<div id="popupbridgeiddetailscallbacks"></div>
			</div>
		</div>
		
	</div> <!-- main -->

</TMPL_IF>

<!-- ****************************************************************************************** -->

<TMPL_IF FORM_DEVICES>

	<div id="main" style="visibility:hidden;"> <!-- style="display:none;" --> 
		
		<!-- Button area -->
		<div style="text-align:center;">
				<a 	href="#" 
					id="btnsearchdevices" 
					name="btnsearchdevices" 
					data-role="button" 
					data-inline="true" 
					data-mini="true" 
					data-icon="search"><TMPL_VAR DEVICES.BUTTON_SEARCH></a>
				<div class="hint" id="search_hint">&nbsp;</div>
		</div>

		<div style="padding: 0px 0px 50px 0px;"></div>

		<!-- Table -->
		<div id="data-list"></div>
		
		<!-- Popup: Device Downloads -->
		<div data-role="popup" id="popupDownloads" data-dismissible="true" style="min-width:600px;max-width:800px;min-height:600px;" data-theme="a" class="ui-corner-all">
			<div style="padding: 20px 20px;">
				<h3 class="ui-title" style="text-align: center;"><TMPL_VAR DEVICES.HINT_VIVO> <span id="popupdevicesdownloadsheader"></span></h3>
				<div id="popupdevicesdownloadscontent"></div>
				
			</div>
		</div>
	</div> <!-- main -->

</TMPL_IF>

<!-- ****************************************************************************************** -->
		
<TMPL_IF FORM_MQTT>

	<div id="main" style="visibility:hidden"> <!-- style="display:none;" --> 
		
		<form>
		
		<div class="lb_flex-container MQTT ui-state-disabled">
			<div	class="lb_flex-item-label">
				<label	class=	"control-label"
					for="MQTTTopic"><TMPL_VAR MQTT.LABEL_MQTTTopic></label>
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item">
				<input width="100%" value="" id="MQTTTopic" name="MQTTTopic" type="text" class="textfield" 
				data-validation-rule="^(?!.*//.*)[^\+#]+$" data-validation-error-msg="<TMPL_VAR MQTT.MSG_VALINVALID_MQTTTOPIC>">
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item-help hint">
				<TMPL_VAR MQTT.HINT_MQTTTOPIC>
			</div>
			<div	class="lb_flex-item-spacer"></div>
		</div>
	
	<TMPL_IF MQTTGATEWAY_INSTALLED>
		<div class="lb_flex-container MQTT ui-state-disabled">
			<div	class="lb_flex-item-label">
				<label	class=	"control-label"
					for="MQTTUseMQTTGateway"><TMPL_VAR MQTT.LABEL_MQTTUseMQTTGateway></label>
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item">
					<input type="checkbox" name="MQTTUseMQTTGateway" id="MQTTUseMQTTGateway">
				</fieldset>
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item-help hint">
				<TMPL_VAR MQTT.HINT_MQTTUseMQTTGateway>
			</div>
			<div	class="lb_flex-item-spacer"></div>
		</div>
		
		<div class="lb_flex-container MQTT ui-state-disabled">
			<div	class="lb_flex-item-label">
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item">
				<span id="mqtt_onverviewlink"></span>
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item-help hint">
			</div>
			<div	class="lb_flex-item-spacer"></div>
		</div>
		
	</TMPL_IF>
	
		<div class="lb_flex-container MQTT ui-state-disabled ownbroker">
			<div	class="lb_flex-item-label">
				<label	class=	"control-label"
					for="BrokerUsername"><TMPL_VAR MQTT.LABEL_BROKERSERVER></label>
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item">
				<input width="100%" value="" id="BrokerServer" name="BrokerServer" type="text" class="textfield"
				data-validation-rule="special:hostname_or_ipaddr" data-validation-error-msg="<TMPL_VAR MQTT.MSG_VALINVALID_BROKERSERVER>"> 
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item-help hint">
				<TMPL_VAR MQTT.HINT_BROKERSERVER>
			</div>
			<div	class="lb_flex-item-spacer"></div>
		</div>
		
		<div class="lb_flex-container MQTT ui-state-disabled ownbroker">
			<div	class="lb_flex-item-label">
				<label	class=	"control-label"
					for="BrokerUsername"><TMPL_VAR MQTT.LABEL_BROKERPORT></label>
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item">
				<input width="100%" value="" id="BrokerPort" name="BrokerPort" type="text" class="textfield"
				data-validation-rule="special:number-min-max-value:1:65000" data-validation-error-msg="<TMPL_VAR MQTT.MSG_VALINVALID_BROKERPORT>">			
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item-help hint">
				<TMPL_VAR MQTT.HINT_BROKERPORT>
			</div>
			<div	class="lb_flex-item-spacer"></div>
		</div>
		
		<div class="lb_flex-container MQTT ui-state-disabled ownbroker">
			<div	class="lb_flex-item-label">
				<label	class=	"control-label"
					for="BrokerUsername"><TMPL_VAR MQTT.LABEL_BROKERUSERNAME></label>
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item">
				<input width="100%" value="" id="BrokerUsername" name="BrokerUsername" type="text" class="textfield"> 
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item-help hint">
				<TMPL_VAR MQTT.HINT_BROKERUSERNAME>
			</div>
			<div	class="lb_flex-item-spacer"></div>
		</div>
		
		<div class="lb_flex-container MQTT ui-state-disabled ownbroker">
			<div	class="lb_flex-item-label">
				<label	class=	"control-label"
					for="BrokerPassword"><TMPL_VAR MQTT.LABEL_BROKERPASSWORD></label>
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item">
				<input width="100%" value="" id="BrokerPassword" name="BrokerPassword" type="text" class="textfield"> 
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item-help hint">
				<TMPL_VAR MQTT.HINT_BROKERPASSWORD>
			</div>
			<div	class="lb_flex-item-spacer"></div>
		</div>
	
		<div style="padding: 0px 0px 20px 0px;"></div>
	
		<div class="lb_flex-container MQTT">
			<div	class="lb_flex-item-label">
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item">
			<a href="javascript:saveMQTT();" id="btnsavemqtt" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check" 
						data-transition="flow"><TMPL_VAR MQTT.BUTTON_SAVE></a>
			<div class="hint" id="mqtt_hint">&nbsp;</div>
			</div>
			<div	class="lb_flex-item-spacer"></div>
			<div	class="lb_flex-item-help hint">
			</div>
			<div	class="lb_flex-item-spacer"></div>
		</div>
		
		</form>
	
		<script>
			// Validation
			validate_enable('#MQTTTopic');
			validate_enable('#BrokerServer');
			validate_enable('#BrokerPort');
		</script>
	
	</div>

</TMPL_IF>
<TMPL_IF FORM_LOG>
	<TMPL_VAR LOGLIST>
</TMPL_IF>
<!-- ****************************************************************************************** -->

<script>
// Main form
var formbridges = '<TMPL_VAR FORM_BRIDGES>';
var formdevices = '<TMPL_VAR FORM_DEVICES>';
var formmqtt = '<TMPL_VAR FORM_MQTT>';
var formlog = '<TMPL_VAR FORM_LOG>';

var secpin = null;

const BRIDGETYPE = JSON.parse('<TMPL_VAR BRIDGETYPE>');
const DEVICETYPE = JSON.parse('<TMPL_VAR DEVICETYPE>');
const LOCKSTATE = JSON.parse('<TMPL_VAR LOCKSTATE>');
const LOCKACTION = JSON.parse('<TMPL_VAR LOCKACTION>');

var storedBridges;
var storedDevices;

$(function() {
	
	if(secpin == null) {
		console.log("Getting SecurePIN from session storage");
		secpin = sessionStorage.getItem("securePIN");
	}
	if(secpin == null) {
		console.log("SecurePIN is empty in session storage");
		securePINwrong();
	}

	getconfig();
	
	if (formdevices && secpin) {
			console.log("Form devices - calling search");
			$("#main").css( 'visibility', 'visible' );
			$('#btnsearchdevices').trigger("click");
	}
	
	// Check SecurePIN by ajax and load form data
	$("#check_securepin").click(function(){
		console.log("Check securepin called");
		checkSecurePIN();
	});

	// <TMPL_IF MQTTGATEWAY_PLUGINDBFOLDER>
		$("#mqtt_onverviewlink").html('<a href="http://'+window.location.host+'/admin/plugins/mqttgateway/index.cgi?form=topics" target="_blank"><TMPL_VAR MQTT.LABEL_MQTT_GATEWAY_LINK></a>');
	// </TMPL_IF>

	// Eventhandlers for "Add" to enable and disable validation
	$("#popupAddButton").click( function(e) {
		allFormInputs = $("#popupAdd").find(":input");
		allFormInputs.map(function(index,dom){validate_enable("#"+dom.id)});
		console.log("popupAddButton: Found "+allFormInputs.length+" form inputs");
	});
	$("#popupAdd").on( "popupafterclose" , function(e) {
		allFormInputs = $("#popupAdd").find(":input");
		allFormInputs.map(function(index,dom){validate_clean_objects("#"+dom.id)});
		allFormInputs.map(function(index,dom){$("#error-msg-"+dom.id).remove()});
		console.log("popupAdd afterclose: Found "+allFormInputs.length+" form inputs");
	});
	// The btnbrideedit event handler is in getConfig (as it is generated dynamically
	
});

// Search for Bridges
$('#btnsearchbridges').click( function(e) {
	console.log("Search for Bridges");
	$("#search_hint").attr("style", "color:blue;").html("<TMPL_VAR BRIDGES.HINT_SEARCH_WAIT>");
	$.ajax( { 
			type: 'POST',
			data: { ajax: 'searchbridges', secpin: secpin }
		} )
	.fail(function( data ) {
		console.log( "searchbridges Fail", data );
		$("#search_hint").attr("style", "color:red").html("<TMPL_VAR BRIDGES.HINT_SEARCH_ERROR>: "+data.statusText);
	})
	.done(function( data ) {
		console.log( "searchbridges Success: ", data );
		if(data.secpinerror) {
				securePINwrong();
				return;
			}
		$("#search_hint").attr("style", "color:green").html("<TMPL_VAR BRIDGES.HINT_SEARCH_DONE>");
		getconfig();
	})
	.always(function( data ) {
		console.log( "searchbridges Finished" );
	});
});

// Delete Bridges (Question)
function askDeleteBridge( data ) {
	$("#popupbridgeid").html(data);
	$("#btndeletebridge").attr("href", 'javascript:deleteBridge(' + data + ');');
	$("#popupDelete").popup("open");
}

// Delete Bridges
function deleteBridge( data ) {
	$.ajax( { 
			type: 'POST',
			data: { ajax: 'deletebridge', bridgeid: data, secpin: secpin }
		} )
	.fail(function( data ) {
		console.log( "deletebridge Fail", data );
	})
	.done(function( data ) {
		if(data.secpinerror) {
			securePINwrong();
			return;
		}
		console.log( "deletebridge Success: ", data );
		getconfig();
	})
	.always(function( data ) {
		$("#popupDelete").popup("close");
		console.log( "deletebridge Finished" );
	});
}

// Edit Bridges (Question)
function askEditBridge( data ) {
	$("#popupbridgeidedit").html(data);
	$("#btneditbridge").attr("href", 'javascript:editBridge(' + data + ');');
	$.ajax( { 
		type: 'POST',
		data: { ajax: 'getbridgeconfig', bridgeid: data, secpin: secpin }
	} )
	.fail(function( data ) {
		console.log( "getbridgeconfig Fail", data );
	})
	.done(function( data ) {
		console.log( "getbridgeconfig Success: ", data );
		if(data.secpinerror) {
			securePINwrong();
			return;
		}
		$('#editbridgeip').val( data.ip);
		$('#editbridgeport').val( data.port);
		$('#editbridgetoken').val( data.token);
	})
	.always(function( data ) {
		console.log( "editbridge Finished" );
		$("#edit_hint").attr("style", "color:black").html("");
		$("#popupEdit").popup("open");
	});
}

// Edit Bridges
function editBridge( data ) {
	$("#edit_hint").attr("style", "color:blue").html("<TMPL_VAR BRIDGES.HINT_EDIT_SAVING>");
	$.ajax( { 
			type: 'POST',
			data: { ajax: 'editbridge', 
					bridgeid: data,
					bridgeip: $("#editbridgeip").val(),
					bridgeport: $("#editbridgeport").val(),
					bridgetoken: $("#editbridgetoken").val(),
					secpin: secpin
			}
		} )
	.fail(function( data ) {
		console.log( "editbridge Fail", data );
		$("#edit_hint").attr("style", "color:red").html("<TMPL_VAR BRIDGES.HINT_EDIT_ERROR>: "+data.statusText);
	})
	.done(function( data ) {
		console.log( "editbridge Success: ", data );
		if(data.secpinerror) {
			securePINwrong();
			return;
		}
		$("#edit_hint").attr("style", "color:green").html("<TMPL_VAR BRIDGES.HINT_EDIT_OK>");
		getconfig();
		$("#popupEdit").popup("close");
	})
	.always(function( data ) {
		console.log( "editbridge Finished" );
		$("#edit_hint").attr("style", "color:black").html("");
	});
}

// Activate Bridges
function activateBridge( data ) {
	$("#popupbridgeidactivate").html(data);
	$("#popupActivate").popup("open");
	$("#activate_hint").attr("style", "color:blue").html("<TMPL_VAR BRIDGES.HINT_ACTIVATE_WAIT>");
	$.ajax( { 
			type: 'POST',
			timeout: 31000,
			data: { ajax: 'activatebridge', 
					bridgeid: data,
					secpin: secpin
			}
		} )
	.fail(function( data ) {
		console.log( "activatebridge Fail", data );
		$("#activate_hint").attr("style", "color:red").html("<TMPL_VAR BRIDGES.HINT_ACTIVATE_ERROR>: "+data.statusText)+" "+data.message;
	})
	.done(function( data ) {
		if(data.secpinerror) {
			securePINwrong();
			return;
		}
		console.log( "activatebridge Success: ", data );
		$("#activate_hint").attr("style", "color:green").html("<TMPL_VAR BRIDGES.HINT_ACTIVATE_OK>");
		getconfig();
		$("#popupActivate").popup("close");
	})
	.always(function( data ) {
		console.log( "activatebridge Finished" );
	});
}

// Add Bridges
function addBridge( data ) {
	$("#add_hint").attr("style", "color:blue").html("<TMPL_VAR BRIDGES.HINT_EDIT_SAVING>");
	$.ajax( { 
			type: 'POST',
			data: { ajax: 'addbridge', 
					// bridgeid: $("#addbridgeid").val(),
					bridgeip: $("#addbridgeip").val(),
					bridgeport: $("#addbridgeport").val(),
					bridgetoken: $("#addbridgetoken").val(),
					secpin: secpin
			}
		} )
	.fail(function( data ) {
		console.log( "addbridge Fail", data );
		$("#add_hint").attr("style", "color:red").html("<TMPL_VAR BRIDGES.HINT_EDIT_ERROR>: "+data.statusText);
	})
	.done(function( data ) {
		console.log( "addbridge Success: ", data );
		if(data.secpinerror) {
			securePINwrong();
			return;
		}
		$("#add_hint").attr("style", "color:green").html("<TMPL_VAR BRIDGES.HINT_EDIT_OK>");
		getconfig();
		$("#popupAdd").popup("close");
	})
	.always(function( data ) {
		console.log( "addbridge Finished" );
		$("#add_hint").attr("style", "color:black").html("");
		$("#addbridgeid").val("");
		$("#addbridgeip").val("");
		$("#addbridgeport").val("");
		$("#addbridgetoken").val("");
	});
}

// Show details of bridge
function bridgeDetails ( intBridgeId ) {
	$("#popupbridgeiddetailsheader").text( intBridgeId );
	$("#popupDetails").popup("open");
	detHtmlObj = $("#popupbridgeiddetailscontent");
	detHtmlObj.empty();
	detHtmlObj.attr("style", "color:blue;").html("<TMPL_VAR COMMON.HINT_PLEASE_WAIT>");
	
	detCallbackObj =  $("#popupbridgeiddetailscallbacks");
	detCallbackObj.empty();
	
	// Request for bridge details
	$.ajax({ 
		type: 'POST',
		data: { ajax: 'checktoken', bridgeid: intBridgeId, secpin: secpin }
	})
	.fail(function( data ) {
		detHtmlObj.attr("style", "color:red;").html("<TMPL_VAR COMMON.ERROR_COULD_NOT_GET_DATA>");
		console.log( "checktoken Fail", data );
	})
	.done(function( data ) {
		console.log( "checktoken Success", data );
		if(data.secpinerror) {
			securePINwrong();
			return;
		}
		detHtmlObj.attr("style", "color:black;")
		if ( data.auth ) {
			currBridgeObj = storedBridges[intBridgeId];
			detHtmlObj.empty();
			detHtmlObj.append('<div class="ui-grid-b" id="detailsGrid">');
			
			gridObj=$("#detailsGrid");
			
			gridObj.append('<div class="ui-block-a" style="width:30%">'+'Network address'+'</div>');
			gridObj.append('<div class="ui-block-b" style="width:60%">'+currBridgeObj.ip+':'+currBridgeObj.port+'</div>');
			
			gridObj.append('<div class="ui-block-a" style="width:30%">'+'bridgeType'+'</div>');
			gridObj.append('<div class="ui-block-b" style="width:60%">'+BRIDGETYPE[data.bridgeType]+' ('+data.bridgeType+')</div>');
			
			gridObj.append('<div class="ui-block-a" style="width:30%">'+'Internal Plugin ID'+'</div>');
			gridObj.append('<div class="ui-block-b" style="width:60%">'+currBridgeObj.intBridgeId+'</div>');

			gridObj.append('<div class="ui-block-a" style="width:30%">'+'hardwareId'+'</div>');
			gridObj.append('<div class="ui-block-b" style="width:60%">'+data.ids.hardwareId+'</div>');
			
			gridObj.append('<div class="ui-block-a" style="width:30%">'+'serverId'+'</div>');
			gridObj.append('<div class="ui-block-b" style="width:60%">'+data.ids.serverId+'</div>');
			
			gridObj.append('<div class="ui-block-a" style="width:30%">'+'firmwareVersion'+'</div>');
			gridObj.append('<div class="ui-block-b" style="width:60%">'+data.versions.firmwareVersion+'</div>');
			
			gridObj.append('<div class="ui-block-a" style="width:30%">'+'wifiFirmwareVersion'+'</div>');
			gridObj.append('<div class="ui-block-b" style="width:60%">'+data.versions.wifiFirmwareVersion+'</div>');
			
			if( data.versions.appVersion ) {
				gridObj.append('<div class="ui-block-a" style="width:30%">'+'appVersion'+'</div>');
				gridObj.append('<div class="ui-block-b" style="width:60%">'+data.versions.appVersion+'</div>');
			}
			
			gridObj.append('<div class="ui-block-a" style="width:30%">'+'uptime (s)'+'</div>');
			gridObj.append('<div class="ui-block-b" style="width:60%">'+data.uptime+'</div>');
			
			gridObj.append('<div class="ui-block-a" style="width:30%">'+'currentTime'+'</div>');
			gridObj.append('<div class="ui-block-b" style="width:60%">'+data.currentTime+'</div>');
			
			gridObj.append('<div class="ui-block-a" style="width:30%">'+'serverConnected'+'</div>');
			gridObj.append('<div class="ui-block-b" style="width:60%">'+data.serverConnected+'</div>');
			
		} else {
			detHtmlObj.empty().attr("style", "color:red;").html("<TMPL_VAR BRIDGES.ERROR_TOKEN_FAILED>");
			
		}
	});
	
	// Request for callbacks 
	$.ajax({ 
		type: 'POST',
		data: { ajax: 'ajax_callback_list', bridgeid: intBridgeId, secpin: secpin }
	})
	.fail(function( data ) {
		detCallbackObj.attr("style", "color:red;").html("<TMPL_VAR COMMON.ERROR_COULD_NOT_GET_DATA>");
		console.log( "ajax_callback_list Fail", data );
	})
	.done(function( data ) {
		console.log( "ajax_callback_list Success", data );
		if(data.secpinerror) {
			securePINwrong();
			return;
		}
		detCallbackObj.attr("style", "color:black;")
		if ( data.callbacks ) {
			currBridgeObj = storedBridges[intBridgeId];
			detCallbackObj.empty();
			detCallbackObj.append('<h3><TMPL_VAR BRIDGEDETAILS.HEADING_REGISTERED_CALLBACKS></h3>');
			detCallbackObj.append('<div class="ui-grid-b" id="callbackGrid">');
			gridObj=$("#callbackGrid");
			
			gridObj.append('<div class="ui-block-a" style="width:8%"><div class="ui-bar ui-bar-a" style="height:20px">'+'ID'+'</div></div>');
			gridObj.append('<div class="ui-block-b" style="width:92%"><div class="ui-bar ui-bar-a" style="height:20px">'+'URL'+'</div></div>');
			$.each(data.callbacks, function(){
				gridObj.append('<div class="ui-block-a" style="width:8%"><div class="ui-bar ui-bar-d" style="min-height:20px">'+this.id+'</div>');
				gridObj.append('<div class="ui-block-b" style="width:92%"><div class="ui-bar ui-bar-d" style="min-height:20px">'+this.url+'</div>');
			});
			
			// Reset callbacks button
			button = $('\
				<button class="ui-btn ui-icon-refresh ui-btn-icon-left ui-corner-all reset_callbacks" id="reset_callbacks" data-inline="true" data-intbridgeid="'+intBridgeId+'"><TMPL_VAR BRIDGEDETAILS.BUTTON_RESETCALLBACKS></button>');
			detCallbackObj.append(button);
			// defCallbackObj.append('<div id
			// Create event handler for reset callbacks
				$(".reset_callbacks").on('click', function(e) {
					console.log("Bridge details", $(this).attr("data-intbridgeid"));
					bridgeResetCallbacks( $(this).attr("data-intbridgeid") );
				});
		
		} else {
			detCallbackObj.empty();
			
		}
	});
}

function bridgeResetCallbacks ( intBridgeId ) {

	console.log("bridgeResetCallbacks", intBridgeId);
	$("#reset_callbacks").addClass('ui-disabled');
	$.ajax({ 
		type: 'POST',
		data: { ajax: 'bridge_reset_callbacks', bridgeid: intBridgeId, secpin: secpin }
	})
	.fail(function( data ) {
		detCallbackObj.attr("style", "color:red;").html("<TMPL_VAR COMMON.ERROR_COULD_NOT_GET_DATA>");
		console.log( "bridgeResetCallbacks Fail", data );
	})
	.done(function( data ) {
		// Recall bridgeDetails popup
		if(data.secpinerror) {
			securePINwrong();
			return;
		}
		bridgeDetails ( intBridgeId );
	
	
	});


}


// Show device downloads
function deviceDownloads ( intBridgeId, nukiId ) {
	$("#popupdevicesdownloadsheader").text( storedDevices[nukiId].name );
	$("#popupDownloads").popup("open");
	detHtmlObj = $("#popupdevicesdownloadscontent");
	detHtmlObj.empty();
	detHtmlObj.attr("style", "color:blue;").html("<TMPL_VAR COMMON.HINT_PLEASE_WAIT>");
	
	$.ajax({ 
		type: 'POST',
		data: { 
			ajax: 'getdevicedownloads', 
			secpin: secpin, 
			bridgeId: intBridgeId,
			nukiId: nukiId  }
	})
	.fail(function( data ) {
		detHtmlObj.attr("style", "color:red;").html("<TMPL_VAR COMMON.ERROR_COULD_NOT_GET_DATA>");
		console.log( "checktoken Fail", data );
	})
	.done(function( data ) {
		console.log( "deviceDownloads Success: ", data );
		if(data.secpinerror) {
			securePINwrong();
			return;
		}
		detHtmlObj.empty();
		detHtmlObj.attr("style", "color:black;");
		detHtmlObj.append($('\
			<table class="mqtttable">\
			<tr>\
				<th class="mqtttable_vicol ui-bar-a" colspan=2"><TMPL_VAR DEVICES.VIVO_HEADING_LOXONE_TEMPLATES></th>\
			</tr>\
			<tr>\
				<td class="mqtttable_vicol"><TMPL_VAR DEVICES.VIVO_LABEL_OUTPUT_TEMPLATE></td>\
				<td class="mqtttable_desccol">\
					<a download='+data.payload.voFilename+' href="data:text/plain;base64,'+b64EncodeUnicode(data.payload.vo)+'">Download <TMPL_VAR DEVICES.VIVO_LABEL_OUTPUT_TEMPLATE></a>\
				</td>\
			</tr>\
			<tr>\
				<td class="mqtttable_vicol"><TMPL_VAR DEVICES.VIVO_LABEL_INPUT_TEMPLATE></td>\
				<td class="mqtttable_desccol">\
					<a download='+data.payload.viFilename+' href="data:text/plain;base64,'+b64EncodeUnicode(data.payload.vi)+'">Download <TMPL_VAR DEVICES.VIVO_LABEL_INPUT_TEMPLATE></a>\
				</td>\
			</tr>\
			</table>\
			<p><TMPL_VAR DEVICES.VIVO_HINT_TEMPLATES></p>'));
		
		detHtmlObj.append($(data.payload.mqttTable));
	
	
	})
	
	
}

// Search for Devices
$('#btnsearchdevices').click( function(e) {
	console.log("Search for Devices");
	$("#search_hint").attr("style", "color:blue;").html("<TMPL_VAR DEVICES.HINT_SEARCH_WAIT>");
	$.ajax( { 
			type: 'POST',
			data: { ajax: 'searchdevices', secpin: secpin }
		} )
	.fail(function( data ) {
		console.log( "searchdevices Fail", data );
		$("#search_hint").attr("style", "color:red").html("<TMPL_VAR DEVICES.HINT_SEARCH_ERROR>: "+data.statusText);
	})
	.done(function( data ) {
		console.log( "searchdevices Success: ", data );
		if(data.secpinerror) {
			securePINwrong();
			return;
		}
		$("#search_hint").attr("style", "color:green").html("<TMPL_VAR DEVICES.HINT_SEARCH_DONE>");
		getconfig();
	})
	.always(function( data ) {
		console.log( "searchdevices Finished" );
	});
});

// Save MQTT Settings
function saveMQTT() {
	$("#mqtt_hint").attr("style", "color:blue").html("<TMPL_VAR MQTT.HINT_SAVE_SAVING>");
	console.log ("Saving", $('#MQTTTopic').val(), $('#BrokerServer').val());
	$.ajax( { 
			type: 'POST',
			data: { 
				ajax: 'savemqtt', 
				topic: $('#MQTTTopic').val(),
				usemqttgateway: $('#MQTTUseMQTTGateway').is(":checked"),
				server: $('#BrokerServer').val(),
				port: $('#BrokerPort').val(),
				username: $('#BrokerUsername').val(),
				password: $('#BrokerPassword').val(),
				secpin: secpin
			}
		} )
	.fail(function( data ) {
		console.log( "savemqtt Fail", data );
		$("#mqtt_hint").attr("style", "color:red").html("<TMPL_VAR MQTT.HINT_SAVE_ERROR>: "+data.statusText);
	})
	.done(function( data ) {
		console.log( "savemqtt Success: ", data );
		if(data.secpinerror) {
			securePINwrong();
			return;
		}
		$("#mqtt_hint").attr("style", "color:green").html("<TMPL_VAR MQTT.HINT_SAVE_OK>");
		getconfig();
	})
	.always(function( data ) {
		console.log( "savenqtt Finished" );
	});
}

// SecurePIN
function checkSecurePIN() {
	console.log("Checking SecurePin");
	$("#check_securepin").attr("disabled", true);
	$("#check_hint").attr("style", "color:blue;").html("<TMPL_VAR SECUREPIN.CHECK_WAIT>");
	$.ajax({ 
			type: 'POST',
			data: { ajax: 'checksecpin', secpin: $('#securepin').val() }
	})
	.fail(function( data ) {
		securePINwrong();
		return;
	})
	.done(function( data ) {
		if( data.error && data.error != 0 ) {
			console.log( "Error detected", data.error );
			data.message = '<TMPL_VAR SECUREPIN.ERROR_WRONG>';
			console.log( "Message:", data.message );
			$("#check_hint").attr("style", "color:red").html(data.message);
			secpin = null;
			return;
		}
		// Save PIN to session storage
		sessionStorage.setItem("securePIN", $('#securepin').val());
		secpin = $('#securepin').val();
		$("#securepin_block").fadeOut();
		// Get config data
		getconfig();
		if (formdevices && secpin) {
			console.log("Form devices - calling search");
			$("#main").css( 'visibility', 'visible' );
			$('#btnsearchdevices').trigger("click");
	}
		// $("#main_form").fadeIn();
		
	})
	.always(function( data ) {
		console.log( "checksecpin Finished" );
		$("#check_securepin").attr("disabled", false);
	});
}

function securePINwrong() {
	console.log( "checksecpin Fail");
	$("#check_hint").attr("style", "color:red").html("<TMPL_VAR SECUREPIN.ERROR_GENERIC>");
	$("#securepin_block").fadeIn();
	$("#main").css( 'visibility', 'hidden' );
	
	return;
}

// Get Config
function getconfig() {
	// Get Config
	
		
	if ( formbridges ) {
		console.log( "Get Config for Bridges form" );
		var form = 'bridges';
	}
	if ( formdevices ) {
		console.log( "Get Config for Devices form" );
		var form = 'devices';
	}
	if ( formmqtt ) {
		console.log( "Get Config for MQTT form" );
		var form = 'mqtt';
	}
	if ( formlog ) {
		console.log( "Get Config for LOG form" );
		$("#main").css( 'visibility', 'visible' );
		$("#securepin_block").css( 'display', 'none' );
		// No need to fetch config
		return;
	}
		
	if ( secpin != null ) {
		$("#main_form").fadeIn();
		// Ajax request
		$.ajax({ 
			type: 'POST',
			data: { ajax: 'getconfig', config: form, secpin: secpin }
		})
		.fail(function( data ) {
			console.log( "getconfig Fail", data );
		})
		.done(function( data ) {
			console.log( "getconfig Success", data );
			if(data.secpinerror) {
				securePINwrong();
				return;
			}
			$("#main").css( 'visibility', 'visible' );
			if ( formbridges ) {
				console.log( "Parse Items for Bridges form" );
				$('#data-list').empty();
				// Check for errors or empty object
				if ( data.error || jQuery.isEmptyObject(data)) {
					$('#data-list').html("<TMPL_VAR BRIDGES.ERROR_NO_BRIDGES_DEFINED>");
					storedBridges = undefined;
					return;
				}
				storedBridges = data;
				// Create table
				var table = $('<table width="100%" data-role="table" id="bridgestable" data-mode="reflow" class="ui-responsive table-stroke listtable">').appendTo('#data-list');
				// Add the header row
				var theader = $('<thead />').appendTo(table);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_TYPE>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_BRIDGEID>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_IPADDRESS>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_PORT>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_TOKEN>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_STATUS>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_ACTIONS>' }).appendTo(theader);
				// Create table body.
				var tbody = $('<tbody />').appendTo(table);
				// Add the data rows to the table body.
				
				$.each( data, function( intBridgeId, item){
					console.log("getconfig loop", intBridgeId, item);
					var row = $('<tr />').appendTo(tbody);
					$('<td />', { html: '<img src="./images/nuki-bridge.svg" height="32"></img>' }).appendTo(row);
					$('<td />', { html: '<div class="bridgedetailslink" data-intbridgeid="'+intBridgeId+'">'+( item.bridgeId ? item.bridgeId : '('+intBridgeId+')') +'</div>' }).appendTo(row);
					//$('<td class="bridgedetailslink" data-bridgeid="'+item.bridgeId+'">'+item.bridgeId+'</td>').appendTo(row);
					$('<td />', { text: item.ip }).appendTo(row);
					$('<td />', { text: item.port }).appendTo(row);
					$('<td />', { html: '<span id="token' + intBridgeId + '">' + ( item.token ? item.token : "") + '</span>' }).appendTo(row);
					$('<td />', { html: '<span id="status' + intBridgeId + '"></span>' }).appendTo(row);
					
					if ( item.token ) {
						$.ajax({ 
							type: 'POST',
							data: { ajax: 'checktoken', bridgeid: intBridgeId, secpin: secpin }
						})
						.fail(function( data ) {
							console.log( "checktoken Fail", data );
						})
						.done(function( data ) {
							console.log( "checktoken Success", data );
							if ( data.auth ) {
								$("#token" + intBridgeId).attr('style', 'color:green');
								$("#status" + intBridgeId).attr('style', 'color:green').html ("<TMPL_VAR BRIDGES.LABEL_ONLINE>");
							} else {
								$("#token" + intBridgeId).attr('style', 'color:red');
							}
						})
					}
					$.ajax({ 
						type: 'POST',
						data: { ajax: 'checkonline', url: item.ip + ':' + item.port, secpin: secpin }
					})
					.fail(function( data ) {
						console.log( "checkonline Fail", data );
					})
					.done(function( data ) {
						console.log( "checkonline Success", data );
						if(data.secpinerror) {
							securePINwrong();
							return;
						}
						if ( data.online ) {
							$("#status" + intBridgeId).attr('style', 'color:green').html ("<TMPL_VAR BRIDGES.LABEL_ONLINE>");	
						} else {
							$("#status" + intBridgeId).attr('style', 'color:red').html ("<TMPL_VAR BRIDGES.LABEL_OFFLINE>");	
						}
					})
					.always(function( data ) {
						console.log( "checkonline Finished" );
					});
					$('<td />', { html: '\
					<a href="javascript:activateBridge(' + intBridgeId + ')" id="btnbridgeactivate'+intBridgeId+'" name="btnbridgeactivate'+intBridgeId+'" \
					title="<TMPL_VAR BRIDGES.BUTTON_ACTIVATE> ' + intBridgeId + '"> \
					<img src="./images/link_32.png" height="32"></img></a> \
					\
					<a href="javascript:askEditBridge(' + intBridgeId + ')" class="btnbrideedit" id="btnbridgeedit'+intBridgeId+'" name="btnbridgeedit'+intBridgeId+'" \
					title="<TMPL_VAR BRIDGES.BUTTON_EDIT> ' + intBridgeId + '" data-intbridgeid="'+intBridgeId+'"> \
					<img src="./images/gear_32.png" height="32"></img></a> \
					\
					<span class="bridgedetailslink" data-intbridgeid="'+intBridgeId+'">\
						<a href="#" id="btnbridgeinfo'+intBridgeId+'" name="btnbridgeinfo'+intBridgeId+'" \
						title="<TMPL_VAR BRIDGES.BUTTON_INFO> ' + intBridgeId + '"> \
						<img src="./images/info2_32.png" height="32"></img>\
						</a>\
					</span>\
					\
					<a href="javascript:askDeleteBridge(' + intBridgeId + ')" data-intbridgeid="'+intBridgeId+'" id="btnbridgedelete'+intBridgeId+'" name="btnbridgedelete'+intBridgeId+'" \
					title="<TMPL_VAR BRIDGES.BUTTON_DELETE> ' + intBridgeId + '"> \
					<img src="./images/cancel_32.png" height="32"></img></a> \
					' }).appendTo(row);
					$(row).trigger("create");
				});

					// Create event handler for Bridge details
					$(".bridgedetailslink").on('click', function(e) {
						console.log("Bridge details", $(this).attr("data-intbridgeid"));
						bridgeDetails( $(this).attr("data-intbridgeid") );
					});
					
					// Eventhandlers for "Edit" to enable and disable validation
					$(".btnbrideedit").click( function(e) {
						allFormInputs = $("#popupEdit").find(":input");
						allFormInputs.map(function(index,dom){validate_enable("#"+dom.id)});
						console.log("popupEditButton: Found "+allFormInputs.length+" form inputs");
					});
					$("#popupEdit").on( "popupafterclose" , function(e) {
						allFormInputs = $("#popupEdit").find(":input");
						allFormInputs.map(function(index,dom){validate_clean_objects("#"+dom.id)});
						allFormInputs.map(function(index,dom){$("#error-msg-"+dom.id).remove()});
						allFormInputs.map(function(index,dom){$("#"+dom.id).css('background-color','transparent');});
						
						console.log("popupEdit afterclose: Found "+allFormInputs.length+" form inputs");
					});

				//$("#data-list").trigger("create");
			}
			if ( formdevices ) {
				console.log( "Parse Item for Devices form" );
				$('#data-list').empty();
				if ( data.error || jQuery.isEmptyObject(data)) {
					$('#data-list').html("<TMPL_VAR DEVICES.ERROR_NO_DEVICES_DEFINED>");
					storedDevices = undefined;
					return;
				}
				storedDevices = data;
				// Create table
				var table = $('<table width="100%" data-role="table" id="devicestable" data-mode="reflow" class="ui-responsive table-stroke listtable">').appendTo('#data-list');
				// Add the header row
				var theader = $('<thead />').appendTo(table);
					$('<th />', { text: '<TMPL_VAR DEVICES.LABEL_TYPE>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR DEVICES.LABEL_NUKIID>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR DEVICES.LABEL_NAME>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR DEVICES.LABEL_BRIDGEID>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR DEVICES.LABEL_PAIRED>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR DEVICES.LABEL_RSSI>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR DEVICES.LABEL_ACTIONS>' }).appendTo(theader);
				// Create table body.
				var tbody = $('<tbody />').appendTo(table);
				// Add the data rows to the table body.
				$.each( data, function( intBridgeId, item){
					var row = $('<tr />').appendTo(tbody);
					switch(item.deviceType) {
						case 0: $('<td />', { html: '<img src="./images/nuki-smart-lock.svg" alt="'+DEVICETYPE[item.deviceType]+'" height="32"></img>' }).appendTo(row); break;
						case 2: $('<td />', { html: '<img src="./images/nuki-opener.svg" alt="'+DEVICETYPE[item.deviceType]+'" height="32"></img>' }).appendTo(row); break;
						default:  $('<td />', { html: '<img src="./images/nuki-unknown.svg" alt="unknown" height="32"></img>' }).appendTo(row);
					}
					$('<td />', { text: item.nukiId }).appendTo(row);
					$('<td />', { text: item.name }).appendTo(row);
					$('<td />', { text: item.bridgeId }).appendTo(row);
					$('<td />', { text: ( item.paired == true ? '<TMPL_VAR COMMON.YES>' : '<TMPL_VAR COMMON.NO>' ) }).appendTo(row);
					// Formular out_min+(rssi-in_min)*(out_max-out_min)/(in_max-in_min)
					rssicol = item.rssi ? numberToColorHsl( 100+(item.rssi+40)*(0-100)/(-100+40) ) : "transparent";
					$('<td />', { html: '<span style="background-color:'+rssicol+'">&nbsp;'+item.rssi+'&nbsp;</span>' }).appendTo(row);
					$('<td />', { html: '\
					<span class="deviceVOdownload" data-intbridgeid="'+item.bridgeId+'" data-nukiid="'+item.nukiId+'"><a href="#" id="btndeviceVOdownload'+item.nukiId+'" name="btndeviceVOdownload'+item.nukiId+'" \
					title="<TMPL_VAR DEVICES.BUTTON_VIVO>"> \
					<img src="./images/devices_vo_download_32.png" height="32"></img></a></span> \
					' }).appendTo(row);
					
				});
				
				// Create event handler for Download details
					$(".deviceVOdownload").on('click', function(e) {
						console.log("Device VO download", $(this).attr("data-nukiid"), $(this).attr("data-intbridgeId"));
						// deviceVOdownload( $(this).attr("data-intbridgeid"), $(this).attr("data-nukiid") );
						deviceDownloads ( $(this).attr("data-intbridgeid"), $(this).attr("data-nukiid") );
					});
					
				//$("#data-list").trigger("create");
			};
			if ( formmqtt ) {
				console.log( "Parse Item for MQTT form" );
				// Fill the form with json data retrieved from the ajax getconfig call
				if ( data.error || jQuery.isEmptyObject(data)) {
					console.log("mqtt.json is empty, does not exist or is invalid.");
				}
				if(data.topic) {
					$("#MQTTTopic").val(data.topic);
				} else {
					$("#MQTTTopic").val('nuki');
				}
				if(data.usemqttgateway === "true") {
					$("#MQTTUseMQTTGateway").prop('checked', true).checkboxradio("refresh");
				} else {
					$("#MQTTUseMQTTGateway").prop('checked', false).checkboxradio("refresh");
				}
				if(data.server) {
					$("#BrokerServer").val(data.server);
				} else {
					$("#BrokerServer").val('');
				}
				if(data.port) {
					$("#BrokerPort").val(data.port);
				} else {
					$("#BrokerPort").val('');
				}
				if(data.username) {
					$("#BrokerUsername").val(data.username);
				} else {
					$("#BrokerUsername").val('');
				}
				if(data.password) {
					$("#BrokerPassword").val(data.password);
				} else {
					$("#BrokerPassword").val('');
				}
				
				refreshMQTTForm();
				
			
			};
		})
		.always(function( data ) {
			console.log( "getconfig Finished" );
			$("#search_hint").attr("style", "color:black;").html("&nbsp;");
		})
	}
}


function refreshMQTTForm() {
	console.log("refreshMQTTForm");
	$(".MQTT").removeClass("ui-state-disabled");
	if( $("#MQTTUseMQTTGateway").is(":checked") ) 
		$(".ownbroker").addClass("ui-state-disabled");
	else 
		$(".ownbroker").removeClass("ui-state-disabled");
}

$("#MQTTUseMQTTGateway").on("click", refreshMQTTForm);


function b64EncodeUnicode(str) {
    // first we use encodeURIComponent to get percent-encoded UTF-8,
    // then we convert the percent encodings into raw bytes which
    // can be fed into btoa.
    return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g,
        function toSolidBytes(match, p1) {
            return String.fromCharCode('0x' + p1);
    }));
}

function AddKeyPress(event, submitobj ) { 
	// look for window.event in case event isn't passed in
	event = event || window.event;
	if (event.keyCode == 13) {
		submitobj.click();
		return false;
	}
	return true;
}

/* Coloring the RSSI value */ 
function hslToRgb(h, s, l){
    var r, g, b;

    if(s == 0){
        r = g = b = l; // achromatic
    }else{
        function hue2rgb(p, q, t){
            if(t < 0) t += 1;
            if(t > 1) t -= 1;
            if(t < 1/6) return p + (q - p) * 6 * t;
            if(t < 1/2) return q;
            if(t < 2/3) return p + (q - p) * (2/3 - t) * 6;
            return p;
        }

        var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
        var p = 2 * l - q;
        r = hue2rgb(p, q, h + 1/3);
        g = hue2rgb(p, q, h);
        b = hue2rgb(p, q, h - 1/3);
    }

    return [Math.floor(r * 255), Math.floor(g * 255), Math.floor(b * 255)];
}

function numberToColorHsl(i) {
    // as the function expects a value between 0 and 1, and red = 0° and green = 120°
    // we convert the input to the appropriate hue value
    var hue = i * 1.2 / 360;
    // we convert hsl to rgb (saturation 100%, lightness 50%)
    var rgb = hslToRgb(hue, 1, .5);
    // we format to css value and return
    return 'rgb(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ')'; 
}
</script>
