<!-- SecurePIN --> 
<div id="securepin_block" style="margin: 0 auto; width:350px; display:none">
	<TMPL_VAR SECUREPIN.ENTER_SECUREPIN>
	<input name="securepin" id="securepin" type="text" onkeypress="return AddKeyPress(event, $('#check_securepin'));">
	<button class="ui-btn ui-btn-icon-right ui-corner-all" id="check_securepin" data-inline="true"><TMPL_VAR COMMON.BUTTON_OK></button>
	
	<div class="hint" id="check_hint" style="padding: 5px 5px 5px 5px;"></div>
	<br>
	<div class="path" style="background: #FF8080; font-color: black; text-shadow: none; border: black 1px solid; padding: 5px;">
		<p style="font-weight: bold;">
			<TMPL_VAR SECUREPIN.WARNING_TITLE>
		</p>
		<hr>
		<p>
			<TMPL_VAR SECUREPIN.PREVENT_SPY>
		</p>
	</div>
</div>

<TMPL_IF FORM_BRIDGES>

	<div id="main" style="visibility:hidden;"> <!-- style="display:none;" --> 

		<style>
			.listtable td
			{
				vertical-align	:middle;
				text-align		:center;
			}
			.lb_flex-item 
			{	
				min-width	:450px;
				width		:450px;
				max-width	:450px;
				flex-wrap	:nowrap;
				margin-top: -10px;  
			}
			.lb_flex-item-help 
			{
				min-width	:100px;
				width		:100%;
				position	:relative;
				margin-left	:10px;
			}
		</style>
		
		<!-- Button area -->
		<div style="text-align:center;">
				<a 	href="#" 
					id="btnsearchbridges" 
					name="btnsearchbridges" 
					data-role="button" 
					data-inline="true" 
					data-mini="true" 
					data-icon="search"><TMPL_VAR BRIDGES.BUTTON_SEARCH></a>
				<a href="#popupAdd" 
					data-rel="popup" 
					data-position-to="window" 
					data-transition="pop" 
					data-mini="true"
					data-role="button"
					data-icon="plus" 
					data-inline="true"><TMPL_VAR BRIDGES.BUTTON_ADD></a>
				<div class="hint" id="search_hint">&nbsp;</div>
		</div>

		<div style="padding: 0px 0px 50px 0px;"></div>

		<!-- Table -->
		<div id="data-list"></div>
		
		<!-- Popup: Delete Bridge -->
		<div data-role="popup" id="popupDelete" data-dismissible="true" style="max-width:400px;">
			<div style="padding: 20px 20px;">
				<h4 class="ui-title"><TMPL_VAR BRIDGES.HINT_DELETE_BRIDGE> <span id="popupbridgeid"></span>?</h4>
				<a href="#" id="btndeletebridge" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check"
				data-transition="flow"><TMPL_VAR BRIDGES.BUTTON_DELETE></a>
			</div>
		</div>

		<!-- Popup: Add manually Bridge -->
		<div data-role="popup" id="popupAdd" data-dismissible="true" style="max-width:600px;" data-theme="a" class="ui-corner-all">
			<div style="padding: 20px 20px;">
				<h3 class="ui-title"><TMPL_VAR BRIDGES.HINT_ADD_NEW_BRIDGE></h3>
				<form>
					<input type="text" name="bridgeip" id="bridgeip" value="" placeholder="IP Address" data-theme="a">
					<input type="text" name="bridgeport" id="bridgeport" value="" placeholder="Port" data-theme="a">
					<input type="text" name="bridgetoken" id="bridgetoken" value="" placeholder="Token" data-theme="a">
					<button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check"
					data-transition="flow"><TMPL_VAR BRIDGES.BUTTON_SAVE></button>
    			</form>
			</div>
		</div>

		<!-- Popup: Edit Bridge -->
		<div data-role="popup" id="popupEdit" data-dismissible="true" style="max-width:600px;" data-theme="a" class="ui-corner-all">
			<div style="padding: 20px 20px;">
				<h3 class="ui-title"><TMPL_VAR BRIDGES.HINT_EDIT_BRIDGE> <span id="popupbridgeidedit"></span></h3>
				<form>
					<input type="text" name="bridgeip" id="bridgeip" value="" placeholder="IP Address" data-theme="a">
					<input type="text" name="bridgeport" id="bridgeport" value="" placeholder="Port" data-theme="a">
					<input type="text" name="bridgetoken" id="bridgetoken" value="" placeholder="Token" data-theme="a">
					<a href="#" id="btneditbridge" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check"
					data-transition="flow"><TMPL_VAR BRIDGES.BUTTON_SAVE></a>
    			</form>
			</div>
		</div>
		
	</div> <!-- main -->

</TMPL_IF>






<script>
// Main form
var formbridges = '<TMPL_VAR FORM_BRIDGES>';
var formdevices = '<TMPL_VAR FORM_DEVICES>';
var formmqtt = '<TMPL_VAR FORM_MQTT>';

$(function() {
	// Check SecurePIN by ajax and load form data
	$("#check_securepin").click(function(){
		console.log("Check securepin called");
		checkSecurePIN();
	});
	// Set SecurePIN from session storage
	$('#securepin').val(sessionStorage.getItem("securePIN"));
	if( $('#securepin').val() ) {
		$('#check_securepin').trigger("click");
	} else {
		$("#securepin_block").fadeIn();
	}
});

// Search for Bridges
$('#btnsearchbridges').click( function(e) {
	console.log("Search for Bridges");
	$("#search_hint").attr("style", "color:blue;").html("<TMPL_VAR BRIDGES.HINT_SEARCH_WAIT>");
	$.ajax( { 
			type: 'POST',
			data: { ajax: 'searchbridges' }
		} )
	.fail(function( data ) {
		console.log( "searchbridges Fail", data );
		$("#search_hint").attr("style", "color:red").html("<TMPL_VAR BRIDGES.HINT_SEARCH_ERROR>: "+data.statusText);
	})
	.done(function( data ) {
		console.log( "searchbridges Success: ", data );
		$("#search_hint").attr("style", "color:green").html("<TMPL_VAR BRIDGES.HINT_SEARCH_DONE>");
		getconfig();
	})
	.always(function( data ) {
		console.log( "searchbridges Finished" );
	});
});

// Delete Bridges (Question)
function askDeleteBridge( data ) {
	$("#popupbridgeid").html(data);
	$("#btndeletebridge").attr("href", 'javascript:deleteBridge(' + data + ');');
	$("#popupDelete").popup("open");
}

// Delete Bridges
function deleteBridge( data ) {
	$.ajax( { 
			type: 'POST',
			data: { ajax: 'deletebridge', bridgeid: data }
		} )
	.fail(function( data ) {
		console.log( "deletebridge Fail", data );
	})
	.done(function( data ) {
		console.log( "deletebridge Success: ", data );
		getconfig();
	})
	.always(function( data ) {
		$("#popupDelete").popup("close");
		console.log( "deletebridge Finished" );
	});
}

// Edit Bridges (Question)
function askEditBridge( data ) {
	$("#popupbridgeidedit").html(data);
	$("#btneditbridge").attr("href", 'javascript:editBridge(' + data + ');');
	$("#popupEdit").popup("open");
}

function checkSecurePIN() {
	console.log("Checking SecurePin");
	$("#check_securepin").attr("disabled", true);
	$("#check_hint").attr("style", "color:blue;").html("<TMPL_VAR SECUREPIN.CHECK_WAIT>");
	$.ajax({ 
			type: 'POST',
			data: { ajax: 'checksecpin', secpin: $('#securepin').val() }
	})
	.fail(function( data ) {
		console.log( "checksecpin Fail", data );
		$("#securepin_block").fadeIn();
		$("#check_hint").attr("style", "color:red").html("<TMPL_VAR SECUREPIN.ERROR_GENERIC>: "+data.statusText);
	})
	.done(function( data ) {
		console.log( "checksecpin Success", data );
		if( data.error && data.error != 0 ) {
			console.log( "Error detected", data.error );
			data.message = '<TMPL_VAR SECUREPIN.ERROR_WRONG>';
			console.log( "Message:", data.message );
			$("#check_hint").attr("style", "color:red").html(data.message);
			return;
		}
		// Save PIN to session storage
		sessionStorage.setItem("securePIN", $('#securepin').val());
		$("#securepin_block").fadeOut();
		// Get config data
		getconfig();
		// $("#main_form").fadeIn();
		$("#main").css( 'visibility', 'visible' );
	})
	.always(function( data ) {
		console.log( "checksecpin Finished" );
		$("#check_securepin").attr("disabled", false);
	});
}

function getconfig() {
	// Get Config
	console.log( "The SecurePIN is: ", $('#securepin').val() );
	if ( sessionStorage.getItem("securePIN") ) {
		if ( formbridges ) {
			console.log( "Get Config for Bridges form" );
			var form = 'bridges';
		}
		if ( formdevices ) {
			console.log( "Get Config for Devices form" );
			var form = 'devices';
		}
		if ( formmqtt ) {
			console.log( "Get Config for MQTT form" );
			var form = 'mqtt';
		}
		// Ajax request
		$.ajax({ 
			type: 'POST',
			data: { ajax: 'getconfig', config: form, secpin: $('#securepin').val() }
		})
		.fail(function( data ) {
			console.log( "getconfig Fail", data );
		})
		.done(function( data ) {
			console.log( "getconfig Success", data );
			if ( formbridges ) {
				console.log( "Parse Items for Bridges form" );
				$('#data-list').empty();
				// Create table
				var table = $('<table width="100%" data-role="table" id="bridgestable" data-mode="reflow" class="ui-responsive table-stroke listtable">').appendTo('#data-list');
				// Add the header row
				var theader = $('<thead />').appendTo(table);
					$('<th />', { text: '' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_BRIDGEID>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_IPADDRESS>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_PORT>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_TOKEN>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_STATUS>' }).appendTo(theader);
					$('<th />', { text: '<TMPL_VAR BRIDGES.LABEL_ACTIONS>' }).appendTo(theader);
				// Create table body.
				var tbody = $('<tbody />').appendTo(table);
				// Add the data rows to the table body.
				$.each( data, function( index, item){
					var row = $('<tr />').appendTo(tbody);
					$('<td />', { html: '<img src="./images/nuki-bridge.svg" height="32"></img>' }).appendTo(row);
					$('<td />', { text: item.bridgeId }).appendTo(row);
					$('<td />', { text: item.ip }).appendTo(row);
					$('<td />', { text: item.port }).appendTo(row);
					$('<td />', { text: item.token }).appendTo(row);
					$('<td />', { html: '<span id="status' + item.bridgeId + '"></span>' }).appendTo(row);
					$.ajax({ 
						type: 'POST',
						data: { ajax: 'checkonline', url: item.ip + ':' + item.port }
					})
					.fail(function( data ) {
						console.log( "checkonline Fail", data );
					})
					.done(function( data ) {
						console.log( "checkonline Success", data );
						if ( data.online ) {
							$("#status" + item.bridgeId).attr('style', 'color:green').html ("Online");	
						} else {
							$("#status" + item.bridgeId).attr('style', 'color:red').html ("Offline");	
						}
					})
					.always(function( data ) {
						console.log( "checkonline Finished" );
					});
					$('<td />', { html: '\
					<a href="#" id="btnbridgeactivate" name="btnbridgeactivate" \
					title="<TMPL_VAR BRIDGES.BUTTON_ACTIVATE> ' + item.bridgeId + '" \
					data-role="button" data-inline="true" data-mini="true" data-icon="power" data-iconpos="notext"></a> \
					<a href="javascript:askEditBridge(' + item.bridgeId + ')" id="btnbridgeedit" name="btnbridgeedit" \
					title="<TMPL_VAR BRIDGES.BUTTON_EDIT> ' + item.bridgeId + '" \
					data-role="button" data-inline="true" data-mini="true" data-icon="edit" data-iconpos="notext"></a> \
					<a href="javascript:askDeleteBridge(' + item.bridgeId + ')" id="btnbridgedelete" name="btnbridgedelete" \
					title="<TMPL_VAR BRIDGES.BUTTON_DELETE> ' + item.bridgeId + '" \
					data-role="button" data-inline="true" data-mini="true" data-icon="delete" data-iconpos="notext"></a> \
					' }).appendTo(row);
					$(row).trigger("create");
				});
				//$("#data-list").trigger("create");
			}
			if ( formdevices ) {
				console.log( "Parse Item for Devices form" );
			};
			if ( formmqtt ) {
				console.log( "Parse Item for MQTT form" );
			};
		})
		.always(function( data ) {
			console.log( "getconfig Finished" );
			$("#search_hint").attr("style", "color:black;").html("&nbsp;");
		})
	}
}

function fillForm ( data ) 
{
	// Fill the form with json data retrieved from the ajax getmailcfg call
	// As this are little fields, we do it "by hand" (see MQTT plugin for an automated form filling)
	console.log ("Fill form", data);
	
	// SMTP Form
	if(data.SMTP) {
		if(data.SMTP.EMAIL) $("#email").val(data.SMTP.EMAIL);
		if(data.SMTP.HOST) $("#smtpserver").val(data.SMTP.HOST);
		if(data.SMTP.PORT) $("#smtpport").val(data.SMTP.PORT);
		if(data.SMTP.USER) $("#smtpuser").val(data.SMTP.USER);
		if(data.SMTP.PASSWORD) $("#smtppass").val(data.SMTP.PASSWORD);
		
		// Checkboxes
		if(is_enabled(data.SMTP.ACTIVATE_MAIL)) $("#activate_mail").prop('checked', true).checkboxradio("refresh");
		if(is_enabled(data.SMTP.AUTH)) $("#smtpauth").prop('checked', true).checkboxradio("refresh");
		if(is_enabled(data.SMTP.TLS)) $("#smtpcrypt").prop('checked', true).checkboxradio("refresh");
	}

	// Notifications Area
	if(data.NOTIFICATION) {
		if(is_enabled(data.NOTIFICATION.MAIL_SYSTEM_ERRORS)) 
			$("#MAIL_SYSTEM_ERRORS").prop('checked', true).checkboxradio("refresh");
		
		if(is_enabled(data.NOTIFICATION.MAIL_SYSTEM_INFOS)) 
			$("#MAIL_SYSTEM_INFOS").prop('checked', true).checkboxradio("refresh");
		
		if(is_enabled(data.NOTIFICATION.MAIL_PLUGIN_ERRORS)) 
			$("#MAIL_PLUGIN_ERRORS").prop('checked', true).checkboxradio("refresh");
		if(is_enabled(data.NOTIFICATION.MAIL_PLUGIN_INFOS)) 
			$("#MAIL_PLUGIN_INFOS").prop('checked', true).checkboxradio("refresh");
	}
	disable();
}
</script>
